ion-content{
    background-color: #00BFFF !important;
    color:#FFFFFF !important;
}
.modes{
    margin-top: 50px;
}
#iot{
    z-index: -1;
}
#head{
    margin-top: -120px;
    margin-bottom: 20px;
    color:#00B2EE;
}
.active{
    background-color:#1f1742;
}